p {
    color: red;
    background-color: blue;
    padding: 10px;
    margin: 10px;
}

h3 {
    color: green;
}


.chobi {
    width: 100px;
    margin-bottom: 100px;
    margin: 0px 20px 0px 20px;
}